<a href="https://colab.research.google.com/github/casandra12/hello-word/blob/master/30_09_21.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Repaso de programacion Python 3
La función print

Utilizando comillas dobles o simples
Utilizando cel signo ","
Utilizando "+"
Utilizando la funcion format
El operador f''

In [2]:
print('Hola mundo owo')
print("Hola mundo")
nombre= "Monse c:"
carrera = "Ingeniería en computación"
print(nombre)

print("Hola " , nombre )
print("Hola " + nombre )

print("Tu nombre es " , nombre , " y estudiaste" , carrera )

#Con Format

print( "Tu nombre es {1}  y estudiaste {0} ".format(nombre , carrera) )

#Con el operador f
print(f'Tu nombre es {nombre} y estudiaste {carrera} ')

#Salto de linea al final
print(nombre, end="") #\n
print(" ", end="")
print(carrera, end="")

Hola mundo owo
Hola mundo
Monse c:
Hola  Monse c:
Hola Monse c:
Tu nombre es  Monse c:  y estudiaste Ingeniería en computación
Tu nombre es Ingeniería en computación  y estudiaste Monse c:
Tu nombre es Monse c: y estudiaste Ingeniería en computación
Monse c: Ingeniería en computación

Entrada de Datos
Función input()
Sirve para pedir al usuario, equivalente al scanf del leng "C" o a la clase Scanner de Java siempre regresa un String

In [4]:
print (nombre)

semestre = input("semestre cursado")
print(semestre)
semestre = int(semestre) + 1 #Se convierte en entero
print(semestre)
semestre = semestre + 1
print(semestre)

semestre = int( input("Cual es tu semestre: "))
semestre= semestre + 1
print(semestre)

Monse c:
semestre cursado2
2
3
4
Cual es tu semestre: 9
10


Repaso del tipo de dato String
Es un tipo de dato muy versatil. Los tipos de datos en Python en realidaad son objetos (POO), es decir tiene atributos y métodos. Los valores internos de un String se almacenan como un arreglo. Es decir se accede a los elementos con el operador [indice]

In [5]:
frase = "El conocimiento me persigue... pero yo soy más rápido!!+"
#Como se almacena la información
print(frase[ 3 ])
print( len( frase ) ) #len lee cuantos caractere hay
print( frase[55] )
print(frase[-8])

#Iterar sobre un String
for letra in frase: #Separa las letras
  print(letra)
print("fin")

c
56
+
á
E
l

c
o
n
o
c
i
m
i
e
n
t
o

m
e

p
e
r
s
i
g
u
e
.
.
.

p
e
r
o

y
o

s
o
y

m
á
s

r
á
p
i
d
o
!
!
+
fin

Slicing (Rebanado)
Es posible seleccionar argumentos de una lista (str) por medio de la sintaxis [ <Inicio> : <Tope> <Incremento> ] Por defecto:

Inicio = 0
Tope = tamaño de la lista (str) No incluye el tope, -0
Incremento = 1

In [6]:
nombre= "Facultad de Estudios Superiores Aragón"
print( nombre[0] )
print( nombre[1] )
#Slicing
print( nombre[ 2: 5 : 1])
print( nombre[ 0: 8: 1])

#Slicing con indexado negativo (-)
print( nombre[-6: 0 : 1])
#Incremento negativo
print( nombre[ 7:  : -1 ])

F
a
cul
Facultad

datlucaF

String como objeto
El tipo de dato string es una clase por lo tanto tiene atributos y métodos

Ayuda en línea de Python
Hay dos funciones que te dan ayuda en python

Dir()
help()

In [7]:

dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [8]:
apellidos = "Ruiz ramirez"
print( apellidos.capitalize() )
print( apellidos.title)
print( apellidos.find("a"))
print( "RUIZ RAMIREZ".lower() )
print( apellidos.upper() )


numeros = "        1 ,       2   ,      3       ,4,5,6      "
num_divididos = numeros.strip().split(',')
print( num_divididos)

num_divididos[0] = num_divididos[0].strip()
num_divididos[1] = num_divididos[1].strip()
num_divididos[2] = num_divididos[2].strip()
num_divididos[3] = num_divididos[3].strip()
num_divididos[4] = num_divididos[4].strip()
num_divididos[5] = num_divididos[5].strip()
print( num_divididos )

for elem in num_divididos:
  print( elem )
for index in range(6):
  num_divididos[index] = num_divididos[index].strip()
print( num_divididos )

Ruiz ramirez
<built-in method title of str object at 0x7f2793adb370>
6
ruiz ramirez
RUIZ RAMIREZ
['1 ', '       2   ', '      3       ', '4', '5', '6']
['1', '2', '3', '4', '5', '6']
1
2
3
4
5
6
['1', '2', '3', '4', '5', '6']


Estructuras de control
if
if-else
switch - case (En python se implementa con IF)
for
while y do_while

In [10]:
#if
a = 12
b = 3
c = 4
print( a > b )

if a > b :
  print("Estamos en el IF")
  print("A es mayor que B")
print('Fin del programa')

##########
if c > a:
  if c > b:
    print('C es el mayor de los tres')

if c > a and c > b:
  print("C es el mayor de los tres")

#if else cual de las tres variables es mayor 
if a > b :
  if a > c:
    print("A es la mayor")
  else: 
    print("C es la mayor")
else: 
  if b > c:
    print('B es la mayor')
  else:
    print("C es la mayor")

#if - else (elif) tiene una notacion especial cuando se encadena

if a > b :
  if a > c:
    print("A es la mayor")
  else: 
    print("C es la mayor")
elif b > c:
    print('B es la mayor')
else:
    print("C es la mayor")

#Pedir al usuario que meta un numero entre el 1 y el 7 y poner que día de la semana es
opcion= int(input("Introduce un numero entre 1 y 7: "))
if opcion > 0 and opcion < 8 :
  if opcion == 1:
    print("Lunes")
  elif opcion == 2:
    print("Martes")
  elif opcion == 3:
    print("Miercoles")
  elif opcion == 4:
    print("Jueves")
  elif opcion == 5:
    print("Viernes")
  elif opcion == 6:
    print("Sábado")
  elif opcion == 7:
    print("Domingo")
  
else: 
  print("DATO MAL SOLICITADO")

True
Estamos en el IF
A es mayor que B
Fin del programa
A es la mayor
A es la mayor
Introduce un numero entre 1 y 7: 9
DATO MAL SOLICITADO

In [12]:
#For y range es una funcion que te proporciona un enumerado
algo = range (4, 10, 2)

frutas = [ 'Pera' , 'Manzana', 'Aguacate', 'Kiwi', 'Platano' ]
nombre = "cASANDRA"
print(algo)

for x in algo:  ## for(int x=4; x<10 ; x=x+2)
  print( x )

for index in range(0, 5, 1):
  print(frutas[index])

#For e iteradores 
for fruit in frutas:
  print( fruit )

for letra in nombre:
  print(letra.upper())

range(4, 10, 2)
4
6
8
Pera
Manzana
Aguacate
Kiwi
Platano
Pera
Manzana
Aguacate
Kiwi
Platano
C
A
S
A
N
D
R
A

In [13]:
# while
#hacer un programa que imprima del 1 al 10
control = 1
while control <= 10:
  print( control )
  control += 1

1
2
3
4
5
6
7
8
9
10

Funciones
Es un segmento de código que recibe, cero, o más valores de entrada, realiza unna o un conjunto de operaciones de forma interna y regresa un solo tipo de dato, aun que ese valor sea None(void)

Las funciones se declaran con la palabra reservada def

In [ ]:

In [14]:
#funcion suma
def suma( a, b):
  c = 0
  c = a + b
  return c 
print( suma( 4 , 5 ))

#funcion que salude personas

def saludar( nombre ):
  print(f' Hola {nombre}, ¿Cómo estas?')
  return None
saludar("daniel")
nombre = "Monse"
saludar(nombre)

res = saludar(nombre)
print(res)

9
 Hola daniel, ¿Cómo estas?
 Hola Monse, ¿Cómo estas?
 Hola Monse, ¿Cómo estas?
None


Default y funciones
Hay ocaciones que es necesario declarar valores por defecto en los argumentos de una función

In [16]:

def saludar( nombre, veces ):
  for x in range( veces ):
    print(f'{x}.- Hola { nombre } ')
saludar( "amigo" , 3  )

#Argumentos con llamadas no posicionales
saludar( veces=6, nombre="ernersto" )

0.- Hola amigo
1.- Hola amigo
2.- Hola amigo
0.- Hola ernersto
1.- Hola ernersto
2.- Hola ernersto
3.- Hola ernersto
4.- Hola ernersto
5.- Hola ernersto

Listas, diccionarios, tuplas y sets
Listas
Son estructuras de datos declaradas en Python, funcionan como arreglos en Java y C, con algunas diferencias.

Usan el selector [ ]
Estructura secuencial (0. . . n)
Son mutables
Puede contener valores de diferente tipo: [1, "manzana", True, 1.23]
Pueden ser anidados (Multidimensional)
Se crean usando [ ] y list()

In [19]:
frutas = [ "pera", "lima", "Limón", "Kiwi", "manzana" ]
print(frutas)
print( frutas[1] )
frutas[1] = "Mango"
print(frutas)
persona  = ["casandra", 1.78, 19, False, 70.5, "ICO" ]
print(persona) 
print(persona[-1])

#Slicing
numeros = [2,4,6,8,10,12,14,16,18,20]
print(numeros[4:7])

['pera', 'lima', 'Limón', 'Kiwi', 'manzana']
lima
['pera', 'Mango', 'Limón', 'Kiwi', 'manzana']
['casandra', 1.78, 19, False, 70.5, 'ICO']
ICO
[10, 12, 14]

In [20]:
#Listas multi dimencionales 
bds=[ "mysql" , "Oracle" , "BD2" , "Mongo" , "SQLite" ]
leng_prog = [ "C" , "Java" , "JS" , "C++" , "C#" , "Python" ]
tecnologias = [bds , leng_prog ]

print( tecnologias ) 

"""
[
    ['mysql', 'Oracle', 'BD2', 'Mongo', 'SQLite'], 
    ['C', 'Java', 'JS', 'C++', 'C#', 'Python']
]

"""

print(tecnologias[1][3]) #C++
print(tecnologias[0][4]) #SQLite
print(tecnologias[0][-1]) #SQLite inverso
print(tecnologias[1][2:5]) #Slicing

[['mysql', 'Oracle', 'BD2', 'Mongo', 'SQLite'], ['C', 'Java', 'JS', 'C++', 'C#', 'Python']]
C++
SQLite
SQLite
['JS', 'C++', 'C#']


La clase List
El tipo de dato list en realidad es una clase que tiene métodos.

In [21]:
numeros = [ 100, 23, 45  ,23 , 55,1,22,101,99, 10 , 13]
type( numeros )
dir( numeros )
print( numeros.sort() )
print( numeros )
numeros.reverse()
print( numeros )
#Eliminar elementos de u  arreglo: 2 formas
#Forma 1
#utilizando el metodo remove 
numeros.remove(55)
print (numeros )

#Forma 2  utilizando el operador del 
del numeros[3]
print( numeros )

#Append agrega numeros al final
numeros.append(0)
numeros.append(33)
numeros.sort() #Ordenar
numeros.reverse() #Mayor a menor
print( numeros )
numeros.insert(3, 60) #Agregar numeros
print( numeros )
n = numeros.pop(1) #Sacar un numero (1)
print(n)
print( numeros )

mas_numeros = [400,500,600,700]
numeros.extend(mas_numeros) #Junta las listas
print( numeros )
#numeros.clear #Limpia la lista
#print( numeros )
#Lista y la estructura de control FOR
for num in numeros:
  print( f' ---> { num } <--- ')

None
[1, 10, 13, 22, 23, 23, 45, 55, 99, 100, 101]
[101, 100, 99, 55, 45, 23, 23, 22, 13, 10, 1]
[101, 100, 99, 45, 23, 23, 22, 13, 10, 1]
[101, 100, 99, 23, 23, 22, 13, 10, 1]
[101, 100, 99, 33, 23, 23, 22, 13, 10, 1, 0]
[101, 100, 99, 60, 33, 23, 23, 22, 13, 10, 1, 0]
100
[101, 99, 60, 33, 23, 23, 22, 13, 10, 1, 0]
[101, 99, 60, 33, 23, 23, 22, 13, 10, 1, 0, 400, 500, 600, 700]
 ---> 101 <---
 ---> 99 <---
 ---> 60 <---
 ---> 33 <---
 ---> 23 <---
 ---> 23 <---
 ---> 22 <---
 ---> 13 <---
 ---> 10 <---
 ---> 1 <---
 ---> 0 <---
 ---> 400 <---
 ---> 500 <---
 ---> 600 <---
 ---> 700 <---

Tuplas
Estructura de dato lineal
Se declaran con ( )
Son inmutables
Usan menos espacio en memoria
Son utiles para declarar valores de consulta
Fuera de eso, las demas características son las mismas que las LISTAS

In [22]:
datos_conexion = ("123.234.145.23", "Juan", "patito123")
print( datos_conexion[0] )
#datos_conexion[0] = "17.324.12" NO MUTABLE
dir(datos_conexion) #index regresa el valor de donde se encuentra

123.234.145.23

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

Diccionarios
Estructura no lineal
Formada por pares llave-valor {"key":valor} *Donde el valor puede ser de cualquier tipo , int, float, list, diccionario.
NO se selecciona con [ número ] X
Su selector es por llave (key)
Son mutables

In [23]:
persona = { "nombre" : "José", "edad": 19, "estatura" : 1.7 }
print( persona )
print(f" La estatura es: {persona['estatura'] } metros")

estudiante = { 
         "nombre" : { "nombres" : ["Juan" , "Jose"],
                      "paterno" : "Perez" ,
                      "materno" : "Garcia" 
                     } , 
         "edad": 19, 
         "estatura" : 1.7,
         "carrera" : {
                     "escuela" : "UNAM FES Aragón",
                     "Carrera" : "ICO",
                     "semestre" : 2
                    },
           "direccion": {
                    "calle" : "Colorines",
                    "num_exterior" : 34,
                    "interior" : "apartamento B"

                      }, 
           "telefonos" : {
                    "casa" : 55523658,
                    "celular" : ["+5255523658","+5255371328"]
                    }
        }
#Ejemplo
print(estudiante['direccion']['calle'])
print(f"La estatura es  es : {estudiante['estatura']}")
print( estudiante['telefonos']['celular'][1])
estudiante['direccion']['calle']= 'Pancho López' #Cambia direccion
print(estudiante['direccion'])
estudiante['direccion']['colonia'] = 'Impulsora' #Mutable, agrega colonia a direccion
print(estudiante['direccion'])
#Combinar con la invocacion de métodos de los valores.
#Mostrar el nombre del estudiante en mayúscula
print(estudiante['nombre']['nombres'][0].upper(), estudiante['nombre']['nombres'][1].upper()) #Mayúsculas
llaves = estudiante.keys() #Muestra las llaves del diccionario
print(llaves)
print('#########Llaves#########')

for llave in llaves:
  print(llave)
  print(estudiante[llave]) #Muestra todos los datos

print('##########Values##############')
#Values() 
vals= estudiante.values()
for val in vals:
  print(val)

print('##########Items##############')
elems = estudiante.items()
print(elems)
print('#########################')
for par in elems:
  #print(par)
  print(par[1])

{'nombre': 'José', 'edad': 19, 'estatura': 1.7}
 La estatura es: 1.7 metros
Colorines
La estatura es  es : 1.7
+5255371328
{'calle': 'Pancho López', 'num_exterior': 34, 'interior': 'apartamento B'}
{'calle': 'Pancho López', 'num_exterior': 34, 'interior': 'apartamento B', 'colonia': 'Impulsora'}
JUAN JOSE
dict_keys(['nombre', 'edad', 'estatura', 'carrera', 'direccion', 'telefonos'])
#########Llaves#########
nombre
{'nombres': ['Juan', 'Jose'], 'paterno': 'Perez', 'materno': 'Garcia'}
edad
19
estatura
1.7
carrera
{'escuela': 'UNAM FES Aragón', 'Carrera': 'ICO', 'semestre': 2}
direccion
{'calle': 'Pancho López', 'num_exterior': 34, 'interior': 'apartamento B', 'colonia': 'Impulsora'}
telefonos
{'casa': 55523658, 'celular': ['+5255523658', '+5255371328']}
##########Values##############
{'nombres': ['Juan', 'Jose'], 'paterno': 'Perez', 'materno': 'Garcia'}
19
1.7
{'escuela': 'UNAM FES Aragón', 'Carrera': 'ICO', 'semestre': 2}
{'calle': 'Pancho López', 'num_exterior': 34, 'interior': 'apartamento B', 'colonia': 'Impulsora'}
{'casa': 55523658, 'celular': ['+5255523658', '+5255371328']}
##########Items##############
dict_items([('nombre', {'nombres': ['Juan', 'Jose'], 'paterno': 'Perez', 'materno': 'Garcia'}), ('edad', 19), ('estatura', 1.7), ('carrera', {'escuela': 'UNAM FES Aragón', 'Carrera': 'ICO', 'semestre': 2}), ('direccion', {'calle': 'Pancho López', 'num_exterior': 34, 'interior': 'apartamento B', 'colonia': 'Impulsora'}), ('telefonos', {'casa': 55523658, 'celular': ['+5255523658', '+5255371328']})])
#########################
{'nombres': ['Juan', 'Jose'], 'paterno': 'Perez', 'materno': 'Garcia'}
19
1.7
{'escuela': 'UNAM FES Aragón', 'Carrera': 'ICO', 'semestre': 2}
{'calle': 'Pancho López', 'num_exterior': 34, 'interior': 'apartamento B', 'colonia': 'Impulsora'}
{'casa': 55523658, 'celular': ['+5255523658', '+5255371328']}

In [24]:

dir(estudiante)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

Funciones 2a parte (El reencuentro)
Declarar funciones combinandola con tuplas
Se pueden recibir una lista de argumentos dinámica que se almacenará en una tupla. Para ello se utiliza un operador especial que es '*' en la declaración de la función.


def mi_funcion( *algo( ):
   print(algo)

In [25]:
def mi_funcion( *argumentos):
  print(argumentos)

mi_funcion(1,2,3 , "Hola", 3.1416)

###Ejemplo Suma
def suma_v2( *vals ):
  suma = 0
  for valor in vals:
    suma += valor 
  print(suma)

suma_v2(5,4 , 2,3,4,5,6,6,6,6,6,6,6,6)

(1, 2, 3, 'Hola', 3.1416)
71

Declarar funciones declarandolas con diccionarios
def mi_funcion( **argumentos ):
    print(argumentos) #argumentos es un diccionario

In [26]:
def mi_funcion( **argumentos ):
  print(argumentos)

mi_funcion( nombre ='Jose', edad=19 )

{'nombre': 'Jose', 'edad': 19}


Módulos
Un módulo en Python es equivalente aun package en Java o un archivo .H en lenguaje C.

en él, declaras códigos que quieras llamar varias veces, este código debe estar empaquetado principalmente en funciones.

In [ ]:
import mimodulo

mimodulo.mi_suma( 3 , 4)

mimodulo.mi_print("hola k ase")
mimodulo.al_reves("hola k ase")

In [ ]:
from mimodulo import mi_print
mi_print("Hola de nuevo mi chavo")

mimodulo.al_reves("Hola de nuevo mi chavo")

In [ ]:
#Chalk
import sys
#dir(sys)
print( sys.path ) #Se configura en que carpeta buscar códigos de módulos

In [29]:
# !ls #Muestra directorio
!pip install simple-chalk #Descargar repositorios del módulo central (De Python)

Collecting simple-chalk
  Downloading simple_chalk-0.1.0.tar.gz (13 kB)
Building wheels for collected packages: simple-chalk
  Building wheel for simple-chalk (setup.py) ... done
  Created wheel for simple-chalk: filename=simple_chalk-0.1.0-py3-none-any.whl size=22163 sha256=2ff0482443f2f1a768efafe529a367a7c1ce0011663214ed0b1d1e107420b276
  Stored in directory: /root/.cache/pip/wheels/24/e2/84/d54838032016039eef79df1137b91defaa6db068d825dfcdcd
Successfully built simple-chalk
Installing collected packages: simple-chalk
Successfully installed simple-chalk-0.1.0

In [30]:
from simple_chalk import *
print(chalk.blue("Texto azul"))
whyNot = green.bgWhite.red.bgGrey
print(whyNot("this is red text with a grey background"))
verde_sobre_negro = bgBlack.green
print(verde_sobre_negro("test"))

Texto azul
this is red text with a grey background
test

In [31]:
!cat datos.dat

cat: datos.dat: No such file or directory

Archivos
Para abrir un archivo se utiliza la función open('nombre','AB')

nombre = La ruta del archivo A = modo de apertura ( W, r, a, ...) B = Formato t (texto) o b (binario)

Para leer tenemos las funciones:

read()
readine()
readlines()

In [ ]:
"""
1,2,3,4,5,6,7
8,9,10
11,12
13
"""
archivo = open('datos.dat','rt')
info = archivo.read() #READ() Leyo el archivo y lo regreso almacenandolo en info
print( info )

#readline()
print('----------READLINE()-----------') 
archivo = open('datos.dat','rt')
info = archivo.readline() #Lee la variable hasta el primer salto de linea
print( info)
info = archivo.readline()
print( info) 

#readlines()
print('-------READLINES------')
archivo = open('datos.dat','rt')
info = archivo.readlines()
print(info)
for index in range(len(info)):
  info[index] = info[index].strip()
print(info)

numeros = []

for grupo in info:  #for each
  for numero in grupo.split(','):
    numeros.append(int(numero))
print(numeros)

suma = 0
for num in numeros:
  suma += num

print(suma)


PROFESORA ESTE TEMA NO LO ENTENDÍ BIEN AYUDA

Programación Orientada a Objetos
La POO es un paradigma no soportado priginalmente por Python, Python aneja el paradigma Imperativo.

Python simula la POO con la declaración de clases y haciendo referencia a un objeto de forma circular. self en python es equivalente a this de java

Forma 1:
class <Nombre de la clase>:
   <definición de la clase>
2.Forma 2:
class <nombre de la clase>(<Super clase>):
   <Definicion del cuerpo de la clase>
La declaración de atributos se realiza por medio del constructor.

Para hacer encapsulamiento de métodos o atributos se debe poner__(DOBLE GUION BAJO) previo a la declaración del atributo o método

In [34]:
class Persona:
   def __init__( self  , n , e, est ):
     self.__nombre = n
     self.__edad = e
     self.__estatura = est
   def to_string( self ):
      return "Nombre: " + self.__nombre +" Edad: "+ str(self.__edad) + " Estatura: " + str(self.__estatura)

   def set_estatura( self , nueva_est ):
     if nueva_est > 0.10 and nueva_est < 2.5 :
       self.__estatura = nueva_est
     else:
       print("Error: Esa estatura no es posible")
  
   def get__estatura( self ):
     return self.__estatura

In [36]:
per = Persona("Jose", 19, 1.7)
print(per.to_string())

#Ancapsulamiento

per.nombre = "Pedro" #Esto no se recomienda, se puede romper la lógica como en la línea 9, además de que es fácilmente modificable.
print(per.to_string())

#per.estatura = 3.9
#print(per.to_string())
per.set_estatura(1.9)
print(per.to_string())

print("Estatura:" , end="")
#print( per.__estatura )
print( per.get__estatura())

Nombre: Jose Edad: 19 Estatura: 1.7
Nombre: Jose Edad: 19 Estatura: 1.7
Nombre: Jose Edad: 19 Estatura: 1.9
Estatura:1.9

In [37]:
#Herencia
class Estudiante( Persona ):
  def __init__( self , nc, nombre, edad, est ):
    self.__num_cta = nc
    super().__init__(nombre,edad,est)
    

  def to_string( self ):
    return super().to_string() + " Numero de cuenta: " + self.__num_cta

In [38]:
est = Estudiante( "212020202", "José",18,1.7 )
print( est.to_string() )

Nombre: José Edad: 18 Estatura: 1.7 Numero de cuenta: 212020202